{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Session</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    {% include './navbar.html' %}
    <div class="container mt-5 d-flex justify-content-center" style="margin-bottom: 6rem;">
        <div class="col-md-6">
            <div class="card p-4">
                <h1 class="text-center">Create a New Session</h1>
                <div class="border-top border-secondary mt-3 mb-3" style="height: 2px; width: 100%;">
                </div>
                {% if messages %}
                <div class="alert alert-warning">
                    {% for message in messages %}
                    <div class="alert-sm alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form method="POST" enctype="multipart/form-data" class="m-0">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">Title</label>
                        {{ form.title }}
                        {{ form.title.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.location.id_for_label }}">Location</label>
                        {{ form.location }}
                        {{ form.location.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}">Description</label>
                        {{ form.description }}
                        {{ form.description.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.date.id_for_label }}">Date</label>
                        {{ form.date }}
                        {{ form.date.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.time.id_for_label }}">Time</label>
                        {{ form.time }}
                        {{ form.time.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.size_capacity.id_for_label }}">Size Capacity</label>
                        {{ form.size_capacity }}
                        {{ form.size_capacity.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.duration_minutes.id_for_label }}">Duration (Minutes)</label>
                        {{ form.duration_minutes }}
                        {{ form.duration_minutes.errors }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.topic.id_for_label }}">Topic</label>
                        {{ form.topic }}
                        {{ form.topic.errors }}
                    </div>

                    <div class="border-top border-secondary mt-3 mb-3" style="height: 2px; margin: 5px 0; width: 100%;">

                    </div>
                    <button type="submit" class="btn btn-danger me-3 btn-outline-dark"
                        style="background-color: rgb(229, 114, 0);">
                        Create Session
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% include './footer.html' %}
</body>

</html>