{% load bootstrap5 %}
<nav class="navbar navbar-expand-lg navbar-light text-white"
    style="background-color:rgb(35, 45, 75); box-shadow: 0 4px 2px -2px gray;">
    <a class="navbar-brand px-3" style="font-size: 30px; color: white;">Workout
        with Wahoos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>